.pageSetup{
    width: 750px;
    margin: 0 auto;
}
#gameBox{
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 70%;
    border: 2px solid black;
}
.pageSetup{
    justify-items: flex-end;
}