body{
    background-image: url("https://i.pinimg.com/originals/84/38/20/84382009da01d1b034ed4160e6d2af45.jpg");
}
h1{
    color:chartreuse;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bolder;
    font-size: 50px;
}
p{
    color:coral;
    text-align:center;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#start-btn{
    color: black;
    display: flex;
    position: absolute;
    text-align: center;
    align-self: flex-end;
    font-weight:bolder;
    left: 29%;
    width: 575px;
    height: 150px;
    margin: 10px 10px;
    font-weight: 100px;
    font-family: sans-serif;
    font-size:600%;
    background-color:blueviolet;
    top: 50%;
    padding: 10px 20px;
}
#hide{
    display: none;
}
.pageSetup{
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    width: 600px;
    border: 4px solid purple;
    padding: 10px 10px;
    border-radius: 20px;
    position: relative;
    left: 28%;
    top:15%;
}
nav{
    display: flex;
    text-align: center;
    padding-left: 400px;
    
}
.score{
    padding-left: 250px;
    color:beige;
    font-weight: bold;
    font-style: italic;

}
.timer{
    color:beige;
    font-weight: bold;
    font-style: italic;
}
nav{
    display: flex;
    text-align: center;
    padding-left: 400px;

    
}