body{
    background-color: aqua;
}
.pageSetup{
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    width: 400px;
    border: 2px solid black;
}
#score{
    display:grid;
    width:60px;
    height:30px;
    align-self: flex-end;
}
#timer{
    justify-content: right;
    align-items: flex-end;
    width: 45px;
    background-color: antiquewhite;

}